config DMABUF_HEAPS_SYSTEM
	bool "DMA-BUF System Heap"
	depends on DMABUF_HEAPS && DMABUF_HEAPS_MTK_SYSTEM=n
	help
	  Choose this option to enable the system dmabuf heap. The system heap
	  is backed by pages from the buddy allocator. If in doubt, say Y.

config DMABUF_HEAPS_CMA
	bool "DMA-BUF CMA Heap"
	depends on DMABUF_HEAPS && DMA_CMA
	help
	  Choose this option to enable dma-buf CMA heap. This heap is backed
	  by the Contiguous Memory Allocator (CMA). If your system has these
	  regions, you should say Y here.

config DMABUF_HEAPS_RESTRICTED
	bool "DMA-BUF Restricted Heap"
	depends on DMABUF_HEAPS
	help
	  Choose this option to enable dma-buf restricted heap. The purpose of this
	  heap is to manage buffers that are inaccessible to the kernel and user space.
	  There may be several ways to restrict it, for example it may be encrypted or
	  protected by a TEE or hypervisor. If in doubt, say N.

config DMABUF_HEAPS_RESTRICTED_MTK
	bool "MediaTek DMA-BUF Restricted Heap"
	depends on DMABUF_HEAPS_RESTRICTED && DMA_CMA && TEE=y
	help
	  Enable restricted dma-buf heaps for MediaTek platform. This heap is backed by
	  TEE client interfaces. If in doubt, say N.

config DMABUF_HEAPS_MTK_SYSTEM
	bool "MediaTek DMA-BUF System Heap"
	depends on DMABUF_HEAPS && NUMA=n
	default y
	help
	  Choose this option to enable the MediaTek system dmabuf heap. The system heap
	  is backed by pages from the buddy allocator. If in doubt, say Y.
