config VIDEO_LINLON
	tristate "Linlon VPU support"
	depends on VIDEO_DEV && V4L_PLATFORM_DRIVERS
	help
	  This enables support for the Linlon VPU family.

config VIDEO_LINLON_FTRACE
	bool "Send kernel space logs to ftrace"
	depends on VIDEO_LINLON
	default n
	help
	  Send kernel space logs to ftrace.

config VIDEO_LINLON_PRINT_FILE
	bool "Append file and line number to kernel space log messages"
	depends on VIDEO_LINLON
	default y
	help
	  Append file and line number to kernel space log messages.

config VIDEO_LINLON_ANDROID_KERNEL
	bool "Build Linlon VPU driver for Android kernel"
	depends on VIDEO_LINLON
	default n
	help
	  Enable Android-kernel-specific code paths in the Linlon VPU driver.

	  Say N unless you are building for an Android kernel.
